<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RegisterForm</title>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" %>
    <%= stylesheet_link_tag "user-form-styles", media: "all" %>
  </head>
  <body>
    <section class="register">
      <section class="modal-form">
        <section class="title">
          <h1>Edit User</h1>
        </section>
        <%= render 'form' %>
      </section>
    </section>
  </body>
</html>