body {
  font-family: sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 550;
}

input,
select {
  border-radius: 8px;
  background-color: #fafafa;
  padding: 7px 15px 7px 15px;
  border: 1px solid #eaeaea;
}

.register {
  background-image: linear-gradient(#984376, #c64577);
  height: 100vh;
  display: flex;
  align-items: center;
}

.register .modal-form {
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 10px;
  padding: 100px 60px 60px 60px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.register .modal-form .title {
  display: flex;
  justify-content: start;
  font-weight: 900;
  font-size: 35px;
  color: black;
  margin-bottom: 25px;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
}

.form section input {
  width: 85%;
}

.form .gender-field label {
  margin-bottom: 15px;
}

.form .gender-field .radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form .gender-field .radio input {
  accent-color: #7cb558;
  width: 20px;
}

.form .gender-field .radio label {
  margin-bottom: 0px;
}

.form .subject-field {
  margin-bottom: 15px;
  grid-column: span 2;
}

.form .subject-field select {
  width: 100%;
}

.submit .submit-button {
  width: 100px;
  height: 35px;
  background-color: #5a73d0;
  color: white;
  border-radius: 10px;
  border: none;
}

@media screen and (max-width: 768px) {
  .form {
    grid-template-columns: auto;
  }
  .form .subject-field {
    grid-column: 1;
  }
  .form section input {
    width: 92%;
  }
}
